################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlowerShop/FileContentIndex
/.vs/FlowerShop/FileContentIndex/3ed4dc72-e6e6-4144-9f3c-67a06f5cd872.vsidx
/.vs/FlowerShop/FileContentIndex/45802741-763a-42e5-b26b-7542ffb46c5c.vsidx
/.vs/FlowerShop/v18
/.vs/FlowerShop/v18/.suo
