
@{
    ViewData["Title"] = "DetailContact";
}

<main>
	<div class="content-search">

		<div class="container container-100">
			<i class="far fa-times-circle" id="close-search"></i>
			<h3 class="text-center">what are your looking for ?</h3>
			<form method="get" action="https://landing.engotheme.com/search" role="search" style="position: relative;">
				<input type="text" class="form-control control-search" value="" autocomplete="off" placeholder="Enter Search ..." aria-label="SEARCH" name="q">

				<button class="button_search" type="submit">search</button>
			</form>
		</div>

	</div>
	<div class="banner">
		<div class="container">
			<figure id="banner-about"><a href="#"><img src="~/img/banner-about.jpg" class="img-responsive" alt="img-holiwood"></a></figure>
			<div class="title-banner">
				<h1>Lien He</h1>
				<p>Chung toi luon o đay và san sang ho tro ban bat cu luc nao.</p>
		<p>Dung ngan ngai  gui tin nhan ngay hom nay đe chung ta co the bat dau ket noi</p>
			</div>
		</div>

	</div>

	<div class="img-link">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="img-color-1">
						<div class="img-content">
							<img src="~/img/Our-Address.png" class="img-responsive" alt="img-holiwood">
						</div>
						<h1>Dia Chi:</h1>
						<h2>13, Nguyen Trung Tri, Truong Vinh, Nghe An</h2>
					</div>

				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="img-color-2">
						<div class="img-content">
							<img src="~/img/Phone-Number.png" class="img-responsive" alt="img-holiwood">
						</div>
						<h1>So Dien Thoai:</h1>
						<h2>097 756 890</h2>
					</div>

				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="img-color-3">
						<div class="img-content">
							<img src="~/img/Email-Address.png" class="img-responsive" alt="img-holiwood">
						</div>
						<h1>Email:</h1>
						<h2>JenstoreFlower@gmail.com</h2>
					</div>

				</div>

			</div>
		</div>
	</div>
	<div class="message">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<figure id="img-contact"><a href="#"><img src="~/img/img-contact.jpg" class="img-responsive" alt="img-holiwood"></a></figure>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 message-contact">
					<h1>Gui Phan Hoi</h1>
					<form class="form-group" method="post">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<label for="name-ip">Ho va Ten:<span>*</span></label><br>
							<input type="text" name="input-name" id="c_name" class="input-lg form-control" placeholder="Vui long nhap ho va ten cua ban...">
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<label for="mail-ip">Email...<span>*</span></label><br>
							<input type="text" name="input-mail" id="c_email" class="input-lg form-control" placeholder="Vui long nhap email cua ban...">
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<label>Hay viet phan hoi cua ban<span>*</span></label>
							<textarea placeholder="Moi nhap tin nhan" class="form-control" id="c_message"></textarea>
						</div>
						<button type="submit" id="c_submit" value="submit">Gui</button>
					</form>


				</div>
			</div>
		</div>
	</div>
	
	<div id="map" style="margin-top: 50px; margin-bottom: 50px;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3779.998495689883!2d105.69634937465608!3d18.664181964761633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3139cdfa31e5da2b%3A0xc484227918451842!2zMTMgTmd1eeG7hW4gVHJ1bmcgVHLDrSwgSMawbmcgRMWpbmcsIFZpbmgsIE5naOG7hyBBbiwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1701831234567!5m2!1sen!2s"
				width="100%"
				height="600"
				style="border:0;"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade">
		</iframe>
	</div>
	
	<!--<div id="map">

	</div> *-->
	<div class="info-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<h3>About</h3>
						<ul>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">News & Stories</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">History</a> </li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Our Studio</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Shop</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Stockists</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<h3>Customer sevices</h3>
						<ul>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Contact Us</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Trade Services</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Login/Register</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Delivery & Returns</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">FAQs</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<h3>Store</h3>
						<ul>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Shop</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Wedding</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Birthday</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Women's day</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<h3>Shop collection</h3>
						<ul>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">New Arrivals</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Hot</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Sale</a></li>
							<li><i class="fas fa-long-arrow-alt-right"></i><a href="#">Deal of the day</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 social">
					<p>CONNECT WITH US:</p>
					<a href="#" id="link-insta"></a>
					<a href="#" id="link-fb"></a>
					<a href="#" id="link-tw"></a>
					<a href="#" id="link-sky"></a>
					<h1>Newsletter</h1>
					<h2>Sign up for our mailing list to get latest updates and offers</h2>
					<form class="form-group" action="https://landing.engotheme.com/html/jenstore/demo/mail" method="post">
						<input type="text" name="input-mail" placeholder="Your mail here" class="input-lg">
						<button type="submit"><img src="~/img/Send.png" alt="img-holiwood"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>

@section Scripts {
	<script>
		$(document).ready(function () {

			$("#c_submit").click(function (e) {

				// 1. Dòng quan trọng nhất: Ngăn form reload trang
				e.preventDefault();
				var _name = $("#c_name").val();
				var _email = $("#c_email").val();
				var _message = $("#c_message").val();

				$.ajax({
					url: "/Contact/Create",
					type: "POST",
					data: {
						name: _name,
						email: _email,
						message: _message
					},
					success: function (result) {
						if (result != null) {
							$("#c_name").val("");
							$("#c_email").val("");
							$("#c_message").val("");

							toastr.success("Gửi thành công");
						}
						else {
							toastr.error("Gửi không thành công");
						}
					},
					error: function () {
						toastr.error("Lỗi server");
					}
				});

			});

		});
	</script>
}
